body{
    background: linear-gradient(-225deg, #8c00ff 0%, #f6b6f4 56%, #f671a4 100%);
}
h1{
    color: #f6b6f4;
}
.register__inner{
    background: #FFF;
    width: 580px;
    height: 720px;
    margin: 0 auto;
    text-align: center;
}
.register-form{
    margin: 0 auto;
    text-align: center;
}
.register-form__table{
    margin: 0 auto;
    text-align: center;
}
.register-form__table-item--input{
    width: 450px;
}

.register-form__btn-submit{
    background: linear-gradient(-225deg, #8c00ff 0%, #f6b6f4 56%, #f671a4 100%);
    border-radius: 3px;
    border: none;
    width: 200px;
}
.register-form__btn-submit-a{
    color: #fff;
    text-decoration: none;
}
.login__a{
    color: skyblue;
}

/* error message */
.register-form__table-item--message{
    color: red;
}